.asideBar {
  width: 290px;
  height: 150%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.asideBarBl {
  width: 290px;
  height: 150%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(20, 20, 20);
}
.btn {
  background-color: black;
}
/* .LogOutBtn {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 94%;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  color: #707C97;
} */
/* .LogOutDiv {
  position: relative;
  margin-top: 316px;
  margin-left: 32px;
}  */
/* .LogOutBtn img{
  margin-left: 38px;
  margin-right: 21px;
  vertical-align: middle;
}

.LogOutBtn p{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  vertical-align: middle;
} */
